<div class="top-container">
  <div class="main-section">
    <div class="main-section-cover">
      <div class="main-content">
      <h2>普段のランニングコースから気分転換(Change of pace)して</h2>
      <h1>Chenge Of Run</h1>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="about-content">
      <div class="section-title">
        <h3>"Chenge Of Run"とは</h3>
      </div>
      <p>"Chenge Of Runとは"ランニングコースがいつも同じなのを気分転換として新たなランニングコースを発見したい、<br />
         普段同じコースでモチベーションが上がらない、走りながら近所や少し遠い普段では行かない場所の発見を目的として<br />
         普段のランニングやワークアウトを新しい景色を楽しみながら"Chenge Of Run"でシェアしましょう。
      </p>
    </div>
  </div>
  <div class="feature-section">
    <div class="feature-content">
      <div class="section-title-container">
        <h3>"Chenge Of Run"の特徴</h3>  
        <p>特徴は自分だけのランニングコースとして公開すること、全員に公開出来るところです。</br >
           また、そのコースの特徴を細かく設定する事でコースの特徴を選んでその日の気分で変えて</br >
           日々のランニングを退屈では無く楽しみながら走れるのが特徴です。</br >
        </p>
      </div>
      <div class="feature-item-container">
        <div class="feature-image-container">
        </div>
      </div>
    </div>
  </div>
</div>
