<div class="top-container">
  <div class="main-section">
    <div class="main-section-cover">
      <div class="main-content">
        <h2>普段のランニングコースから気分転換</h2>
        <h1>Change of Run!</h1>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="about-content">
      <div class="section-title">
        <h3>Change Of Runとは</h3>
      </div>
      <p>Change of Runとは、ランニングコースがいつも同じなのを気分転換"Change of Pace"として新たなランニング<br />
         コースを発見したい、普段同じコースでモチベーションが上がらない、走りながら近所や少し遠い普段は行かない<br />
         場所の発見を目的として普段のランニングやワークアウトを新しい景色で楽しみながら"Change Of Run"で<br />
         シェアしましょう。
      </p>
    </div>
  </div>
  <div class="feature-section">
    <div class="feature-content">
      <div class="section-title-container">
        <h3>Change of Runの特徴</h3>  
        <p>特徴は自分だけのランニングコースとして公開すること、全員に公開出来るところです。</br >
           また、そのコースの特徴を細かく設定する事でコースの特徴を選んでその日の気分で変えて</br >
           日々のランニングを退屈では無く楽しみながら走れるのが特徴です。さらに、フォローといいね</br >
           コメント機能もあり、一人で走る事の多い方でも同じモチベーションを持ったランナーとの交流が</br >
           出来る事でより楽しくランニングする事が出来ると考えています。
        </p>
      </div>
    </div>
  </div>
</div>
