$main-color: 		DeepSkyBlue;
$sub-color: #ffdc7d;
$back-color: #fbefe3;
$brown: #462c00;
$white: #ffffff;
$memo-color:rgb(255, 79, 79);
$border-gray-color: #eff4f7;
$icon-gray-color:#7c7c7c;
$shadow-color:#bebebe;
$nav-link-color: rgb(104, 100, 94);
$main-transparent:rgba(251, 237, 159, 0.617);
$sub-transparent:rgba(251, 237, 159, 0.617);
$form-frame-color:rgb(172, 171, 171);
$title-color:rgb(47, 37, 37);
$question-color:#424241;
