// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-container {
  min-height: calc(100vh - 80px);
  padding-top: 40px;
  padding-bottom: 30px;
  background: Azure;
}
.follow-index{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: white;
  border: solid 0.8px black;
  border-radius: 10px;
  margin-bottom: 20px;
}
h3{
  margin-top: 20px;
}
p{
  font-size: 15px;
}
.icon-image{
  margin-top: 10px;
}
a{
  text-decoration: none;
}
